* {
    margin: 0;
    padding: 0;

    color: #8be9fd; 
    font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
    font-weight: 300;
    font-size: 13px;
}

.dracula {
    background-color: #282a36;
    height: calc(100vh - 200px);
    padding: 100px;
}

.code::before {
    content: "> ";
}

.under::after{
    content: "_";
    opacity: 0%;
    color: #ff5555;
    border-bottom:solid 10px;
    animation: blinking 0.5s infinite  forwards;
}

@keyframes blinking {
    0%{
        opacity: 0% ;
    }
    25%{
        opacity: 100% ;
    }
    75% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}














.p1 { 
    /* The image used */
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
  
    /* Full height */

    height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size:cover;

    
  }

.p2 {
    background-image: url("https://cdn.dribbble.com/users/2925801/screenshots/14267264/media/d6a51702546f256b6d08ead24f6e6ac2.jpg?compress=1&resize=1600x1200&vertical=top");

    height: 100vh;
    width: 100vw;
}